body{
    background-color:#4A525A;
}
a{
    text-decoration: none;
    font-family: 'Inconsolata', monospace;
    color: #F5E9E2;
    font-weight: 400;
    font-size: 20px;
}

h1{
    font-family: 'Play', sans-serif;
    font-weight: 500;
    color: #F5E9E2;
    text-align: center;
    font-size: 40px;
    border:solid;
    background-color:#508484;
    border-radius: 50px;
    letter-spacing: 3px;
}


h2{
    font-family: 'Inconsolata', monospace;
    font-weight: 400;
    font-size: 25px;
}


h3{
    font-family: 'Inconsolata', monospace;
    font-weight: 400;
    text-align: center;
}

ul{
    font-family: 'Inconsolata', monospace;
    font-weight: 400;

}


h5 {
    font-family: 'Inconsolata', monospace;
    text-align:center;
    color:#F5E9E2;
    text-decoration: wavy;
}



img{
    border-radius: 5px;
    margin-left:auto;
    margin-right: auto;
    display: block;

}
table{
    margin-left: auto;
    margin-right: auto;
    font-family: 'Inconsolata', monospace;
    text-align:center;
    color:black;
    border-collapse: collapse;
    border: black;
}
th{
    text-decoration: underline ;
}



div.grid{


    display: grid;
    grid-template-areas:
            "home       aside2     aside1       nav"
            "header     header     header       header"
            "main       main       main         main"
            "footer     footer     footer       footer"
;
    grid-gap: 4px;
}

div.grid_1{


    display: grid;
    grid-template-areas:
            "aside2     aside1      nav"
            "header     header      header"
            "main       main        main"
            "footer     footer      footer"
;
    grid-gap: 4px;
}







div.header{
    grid-area: header;
    background-color:transparent;
    border-radius: 4px;
}

div.main{
    grid-area: main;
    background-color:#EBEBEB;
    border-radius: 4px;
    padding: 20px;
}

div.aside1{
    grid-area: aside1;
    background-color: #4C061D;
    border-radius: 5px;
    text-align: center;

}

div.aside2{
    grid-area: aside2;
    background-color: #4C061D;
    border-radius: 5px;
    text-align: center;
}


div.nav{
    grid-area: nav;
    background-color:#4C061D;
    border-radius: 5px;
    text-align: center;
}

div.footer{
    grid-area: footer;
    background-color: #4C061D;
    border-radius: 4px;
    text-align: center;
}

div.home {
    grid-area: home;
    background-color: #4C061D;
    border-radius: 5px;
    text-align: center;
}



div.aside1:hover{
    background-color:#600020;
}

div.aside2:hover{
    background-color:#600020;
}
div.nav:hover{
    background-color:#600020;
}
div.home:hover{
    background-color:#600020;
}


@media(max-width: 1000px){

    div.grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas:
                "home       aside2      aside1      nav"
                "header     header      header      header"
                "main       main        main        main"
                "footer     footer      footer      footer"

    ;}

}

@media(max-width: 1000px){

    div.grid_1{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
                "header       header      header"
                "aside2       aside1      nav"
                "footer       footer      footer"
                "nav          main        main"

    ;}

}


@media(max-width: 600px){

    div.grid{
        grid-template-columns:100%;
        grid-template-areas:
                "home"
                "aside1"
                "aside2"
                "nav"
                "header"
                "main"
                "footer"

    ;
    }
img{
    width: 230px;
}

}


@media(max-width: 600px){

    div.grid_1{
        grid-template-columns:100%;
        grid-template-areas:
                "aside1"
                "aside2"
                "nav"
                "header"
                "main"
                "footer"

    ;
    }
    img{
        width: 230px;
    }

}




